  /* Style the header */
  header {
    background-color: #F0F0F0;
    padding: 30px;
    text-align: center;
}

/* Style the nav menu */
nav {
    display: flex;
    justify-content: center;
}

/* Style the nav links */
nav a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #444;
    display: block;
}

/* Style the submenu */
nav ul {
    display: none;
    padding: 0;
    list-style-type: none;
}

/* Style the submenu links */
nav ul a {
    font-size: 14px;
}

/* Show the submenu on hover */
nav a:hover+ul,
nav ul:hover {
    display: block;
}
nav a:hover {
    color: blue;
    align-self: auto;
}
section {
    justify-content: left;
    text-align: left;
}
section > div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 50%;
    max-height: 50%;
}